.outter{
	height: 300px;
	border: 1px solid #000;
}
.box{
	width: 200px;
	height: 200px;
	background-color: #68a2ff;
}

/* 1. margin: 0 auto;  */
.box1{
	display: block;
	width: 200px;
	margin: 0 auto;
}
/* 2. inline 系列 */
.outter2{
	text-align: center;
}
.outter2 .box{
	display: inline-block;
	/*text-align: left;*/
}

/* 3. flex */
.outter3{
	display: flex;
	/*justify-content: center;*/
	/*justify-content: space-around;*/
	/*justify-content: space-between;*/
	/*justify-content: flex-start;*/
	/*justify-content: flex-end;*/
	/*align-items: center;*/0

}
.outter3 .box{
	margin: auto;
	/*align-self:center; */

}

/* 4. position: absolute; */
.outter4{
	position: relative;

}
.outter4 .box{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	width: 500px;
	text-align: center;

}


/* 5. 文字的置中 */
.box5{
	text-align: center;
	line-height: 200px;
	font-size: 20px; 
}